.flower-bouquet {
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

.flower {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  margin: 20px; /* Agregar margen entre las flores */
}

.flower:hover {
  transform: rotateY(30deg) scale(1.1);
}

.petals {
  background-color: #ffff00;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  background-color: #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Agregar estilos para cada flor */
.flower:nth-child(1) {
  transform: translateX(-50px);
}

.flower:nth-child(2) {
  transform: translateX(50px);
}

.flower:nth-child(3) {
  transform: translateY(-50px);
}

.flower:nth-child(4) {
  transform: translateY(50px);
}

.flower:nth-child(5) {
  transform: translateX(-25px) translateY(25px);
}
